<link href="/css/style.css" rel="stylesheet" type="text/css">
<div id="upload">
  <h2>Upload Image</h2>
  <form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" />
    <input type="submit" class="green" value="Upload" />
  </form>
  <% data.forEach(function(dbData){ %>
      <img src="<%= dbData.url %>" width="120" height="120" class="image"> 
<% }); %>
</div>